/* Color variables for light theme */
:root {
  --color-background: #FBFBFB;
  --color-foreground: #000;
  --color-primary: hsl(0, 0%, 8%);
  --color-primary-foreground: #fff;
  --color-border: #dee2e6;
  --color-muted: #6c757d;
  --color-muted-foreground: #fff;
  --color-card: #fff;
  --color-card-foreground: #000;
  --color-accent: #007bff;
  --color-accent-foreground: #fff;
}

/* Color variables for dark theme */
html.dark {
  --color-background: #FBFBFB;
  --color-foreground: #000;
  --color-primary: hsl(0, 0%, 8%);
  --color-primary-foreground: #fff;
  --color-border: #dee2e6;
  --color-muted: #6c757d;
  --color-muted-foreground: #fff;
  --color-card: #fff;
  --color-card-foreground: #000;
  --color-accent: #007bff;
  --color-accent-foreground: #fff;
}

/* Set default border color */
*, *::before, *::after {
  border-color: var(--color-border);
}